# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite3

# Logs
*.log

# Videos
app/static/videos/*
!app/static/videos/.gitkeep

# Vercel
.vercel
.now

# System files
.DS_Store
Thumbs.db